             <form action="/favourites" method="POST" class="bg-pink-600 p-3 text-xl text-white rounded-2xl mb-2 text-center hover:bg-pink-300">
                        <input type="hidden" name="homeId" value="<%= home._id %>">
                        <button>Add To Favourites</button>
             </form>